body {
    padding: 0;
    margin: 0;
}

.row-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#root {
    height: 100vh;
}

.pd-img {
    width: 300px;
    height: 400px;
}

.pd-button {
    font-size: 40px;
    margin-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.pd-button:hover {
    cursor: pointer;
}